*/**/.terraform*
sample-project/*.variables.tf.json
sample-project/azure-databricks.tf
sample-project/azure-storage-blob.tf
sample-project/azure-app-service.tf
sample-project/azure-mysql.tf
sample-project/main.tf
settings.json
sample-project/azure-postgresql.tf
sample-project/azure-batch.tf
