# Exceptions to to ignore policy(files  and directories)
!.github/
!.github/**
!.devcontainers/
!.devcontainers/**

# Inclusion to to ignore policy(files  and directories)
.*
*/**/.terraform*
sample-project/templates/*.variables.tf.json
sample-project/templates/azure-databricks.tf
sample-project/templates/azure-storage-blob.tf
sample-project/templates/azure-app-service.tf
sample-project/templates/azure-mysql.tf
sample-project/templates/main.tf
sample-project/templates/azure-postgresql.tf
sample-project/templates/azure-batch.tf